{% extends 'base.html.twig' %}

{% block title %}Réclamations{% endblock %}

{% block content %}
    <h1>Réclamations</h1>
   
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Avis</th>
                <th>Date de la réclamation</th>
                <th>Statut</th>
                <th>Réponse(s)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reclamation in reclamations %}
                <tr>
                    <td>{{ reclamation.description }}</td>
                    <td>{{ reclamation.avis }}</td>
                    <td>{{ reclamation.daterec ? reclamation.daterec|date('Y-m-d') : '' }}</td>
                    <td>{{ reclamation.idRep|length > 0 ? 'traitée' : 'En attente' }}</td>
                    <td>
                        {% for idRep in reclamation.idRep %}
                            {{ idRep.id }}{% if not loop.last %} / {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">Afficher</a>
                        <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">Modifier</a>
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{{ path('app_reclamation_index') }}" method="get">
        <button type="submit" name="sort" value="avis" class="btn btn-primary">Trier les réclamations par avis</button>
    </form>

    <a href="{{ path('app_reclamation_new') }}" class="btn btn-primary">Ajouter une nouvelle réclamation</a>
    <br>
    <a href="{{ path('app_reclamation_downloadPdfAll') }}" class="btn btn-primary">Télécharger les réclamations</a>

    {% include 'footer.html.twig' %}
{% endblock %}