{% extends 'back.html.twig' %}

{% block title %}Produit index
{% endblock %}

{% block content %}

	<h1>Produit index</h1>
	<div id="table-actions" class="d-flex align-items-center justify-content-between mb-4">
		<div class="d-flex">
			<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search ..." class="form-control" id="search-input">
		</div>
	</div>

	<div>
		<h1>Product Statistics</h1>
		<p>Total Number of Products:
			{{ totalProducts }}</p>
	</div>

	<a href="{{ path('app_produit_category_stats') }}" class="btn btn-primary">Statistiques</a><br>
	<a href="{{ path('app_produit_export_excel') }}" class="btn btn-success">Export to Excel</a><br>
	<a href="{{ path('app_produit_export_pdf') }}" class="btn btn-danger">Export to PDF</a><br>

	<table id="table" class="table table-striped table-bordered">
		<thead class="thead-dark" id="table">
			<tr>
				<th>IdProduit</th>
				<th onclick="sortTable(1)">NomProduit</th>
				<th>DescriptionProduit</th>
				<th>ImageProduit</th>
				<th>PrixProduit</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for produit in produits %}
				<tr>
					<td style="color: white;">{{ produit.idProduit }}</td>
					<td style="color: white;">{{ produit.nomProduit }}</td>
					<td style="color: white;">{{ produit.descriptionProduit }}</td>
					<td><img src="{{ asset('uploads/' ~ produit.imageProduit) }}" width="50" height="50"></td>
					<td style="color: white;">{{ produit.prixProduit }}</td>
					<td>
						<a href="{{ path('app_produit_show', {'idProduit': produit.idProduit}) }}" class="btn btn-info">Show</a>
						<a href="{{ path('app_produit_edit', {'idProduit': produit.idProduit}) }}" class="btn btn-warning">Edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">No records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			{{ knp_pagination_render(produits) }}
		</ul>
	</nav>

	<a href="{{ path('app_produit_new') }}" class="btn btn-success">Create new</a>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
	<script>
		function createPDF() { // Clone the table to not alter the original
var table = document.getElementById('table').cloneNode(true);

// Remove the last th in the header
var headerRow = table.rows[0];
headerRow.deleteCell(-1);
// Removes the last cell in the header row

// Remove the last td in each body row
var rows = table.rows;
for (var i = 1; i < rows.length; i++) { // Start from 1 to skip the header
rows[i].deleteCell(-1); // Deletes the last cell of each row
}

var style = "<style>";
style += "table {width: 100%; border-collapse: collapse; margin-top: 20px;}";
style += "th, td {border: 1px solid #ddd; padding: 8px; text-align: left;}";
style += "th {background-color: #f2f2f2;}";
style += "</style>";

// Create a window object.
var win = window.open('', '', 'height=700,width=700');
win.document.write('<html><head>');
win.document.write('<title>Abonnements list PDF</title>'); // <title> for PDF header.
win.document.write(style); // Add style inside the head tag.
win.document.write('</head>');
win.document.write('<body>');
win.document.write(table.outerHTML); // The modified table contents inside the body tag.
win.document.close(); // Close the current window.
win.print(); // Print the contents.
}
	</script>
	<script>
		function myFunction() { // Declare variables
var input,
filter,
table,
tr,
td,
i,
txtValue;
input = document.getElementById("myInput");
filter = input.value.toUpperCase();
table = document.getElementById("table");
tr = table.getElementsByTagName("tr");

// Loop through all table rows, and hide those who don't match the search query
for (i = 0; i < tr.length; i++) {
td = tr[i].getElementsByTagName("td")[1];
if (td) {
txtValue = td.textContent || td.innerText;
if (txtValue.toUpperCase().indexOf(filter) > -1) {
tr[i].style.display = "";
} else {
tr[i].style.display = "none";
}
}
}
}

function sortTable(n) {
var table,
rows,
switching,
i,
x,
y,
shouldSwitch,
dir,
switchcount = 0;
table = document.getElementById("table");
switching = true;
dir = "asc";

while (switching) {
switching = false;
rows = table.rows;

for (i = 1; i < (rows.length - 1); i++) {
shouldSwitch = false;
x = rows[i].getElementsByTagName("TD")[n];
y = rows[i + 1].getElementsByTagName("TD")[n];

if (dir == "asc") {
if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
shouldSwitch = true;
break;
}
} else if (dir == "desc") {
if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
shouldSwitch = true;
break;
}
}
}

if (shouldSwitch) {
rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
switching = true;
switchcount++;
} else {
if (switchcount == 0 && dir == "asc") {
dir = "desc";
switching = true;
}
}
}
}
	</script>

{% endblock %}
