{% extends 'base.html.twig' %}

{% block content %} 

<div class="user-events-container">
  <h1 class="user-events-title">{{event.eventName}}</h1>
  <div class="user-events-list">
    {% for promo in event.promotions %} 
      <div class="user-event-card">
        <div class="user-event-card__image-container">
          <img src="{{asset('./uploads/files/') ~ promo.getProduit().getImage_produit()}}" class="user-event-card__image" alt="" />
        </div>
        <h4 class="user-event-card__title">{{promo.getProduit().getNom_produit()}}</h4>
        
        <div class="user-event-card__promotion">
          <div class="user-event-card__promo"><b style="color:#0f172b">{{promo.getPrix()}}% </b>discount:</div>
          <div class="user-event-card__price">
            <p class="user-event-card__price-before">${{promo.getProduit().getPrix_produit()}}</p>
            <p class="user-event-card__price-after">${{promo.getProduit().getPrix_produit() - (promo.getProduit().getPrix_produit() * promo.getPrix() / 100)   }}</p>
          </div>
        </div>
        <a href="" class="btn btn-primary py-sm-3 px-sm-5  animated ">Add To Cart</a>
      </div>
    {% endfor %}
     <div id="div_chart"></div>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
    </script>

    
  </div>
</div>

{% endblock %}
