<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My PDF Document</title>
    <style>
        /* Add styles for the logo */
        .logo {
            width: 15px;
            height: auto;
            margin: 0 auto;
            display: block;
        }
        
        /* Add styles for the table */
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
            background-color: rgb(211, 201, 209);
        }
        
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        
        th {
            background-color: #ddd;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <img src="{{ asset('/images/LOGO.jpg') }}" alt="LOGO" class="logo">
        <div style="display: block; margin-bottom: 10px; background-color: hsl(213, 38%, 89%); text-align: center;">
        <h1>Liste des Réclamations</h1>
        <table>
            <thead>
                <tr>
                    <th>Description de la réclamation</th>
                    <th>Date de la réclamation</th>
                    <th>Statut</th>
                    <th>Avis</th>
                </tr>
            </thead>
            <tbody>
                {% for reclamation in reclamations %}
                    {% set statut = reclamation.idRep|length > 0 ? 'traitée' : 'En attente' %}
                    <tr>
                        <td>{{ reclamation.description }}</td>
                        <td>{{ reclamation.dateRec ? reclamation.dateRec|date('Y-m-d') : '' }}</td>
                        <td>{{ reclamation.statut }}</td>
                        <td>{{ reclamation.avis }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>