{% extends 'back.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
<div class="content-wrapper">
<main id="main" class="main">
    <br>
    <br>
    <br>
    <h4 class="card-title">Edit User</h4>
    
    <table class="table">
    {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ form_widget(form.nom, { attr: { style: 'background-color: #ced4da; border-radius: 5px;' } }) }}</td>

            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ form_widget(form.prenom, { attr: { style: 'background-color: #ced4da; border-radius: 5px;' } }) }}
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ form_widget(form.email, { attr: { style: 'background-color: #ced4da; border-radius: 5px;' } }) }}</td>
            </tr>
            <tr>
                <th>Num Tel</th>
                <td>{{ form_widget(form.numtel, { attr: { style: 'background-color: #ced4da; border-radius: 5px;' } }) }}
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ form_widget(form.image) }}
            </tr>
            
        </tbody>


    </table>
    
    {{ form_row(form.Soumettre, { attr: { class: 'btn btn-primary' } }) }}
   

    {{ form_end(form) }}
    <br>
    <a class="btn btn-danger" href="{{ path('app_user_deleteF', {'id': user.id}) }}">Supprimer</a>

    </main>
</div>
{% endblock %}
